<div class ="aboutus">
<pre>
<h4>
                   _________ _______  _______                  
          |\     /|\__   __/(  ____ )(  ____ \                 
          | )   ( |   ) (   | (    )|| (    \/                 
          | (___) |   | |   | (____)|| (__                     
          |  ___  |   | |   |     __)|  __)                    
          | (   ) |   | |   | (\ (   | (                       
          | )   ( |___) (___| ) \ \__| (____/\                 
          |/     \|\_______/|/   \__/(_______/                 
                                                               
              _________          _______                       
              \__   __/|\     /|(  ____ \                      
                 ) (   | )   ( || (    \/                      
                 | |   | (___) || (__                          
                 | |   |  ___  ||  __)                         
                 | |   | (   ) || (                            
                 | |   | )   ( || (____/\                      
                 )_(   |/     \|(_______/                      
                                                               
       _______  _______  _______ _________ _______             
      (       )(  ___  )(  ____ \\__   __/(  ____ \            
      | () () || (   ) || (    \/   ) (   | (    \/            
      | || || || (___) || |         | |   | |                  
      | |(_)| ||  ___  || | ____    | |   | |                  
      | |   | || (   ) || | \_  )   | |   | |                  
      | )   ( || )   ( || (___) |___) (___| (____/\            
      |/     \||/     \|(_______)\_______/(_______/            
                                                               
 ______   _______  ______   ______  _________ _______  _______ 
(  __  \ (  ___  )(  __  \ (  __  \ \__   __/(  ____ \(  ____ \
| (  \  )| (   ) || (  \  )| (  \  )   ) (   | (    \/| (    \/
| |   ) || (___) || |   ) || |   ) |   | |   | (__    | (_____ 
| |   | ||  ___  || |   | || |   | |   | |   |  __)   (_____  )
| |   ) || (   ) || |   ) || |   ) |   | |   | (            ) |
| (__/  )| )   ( || (__/  )| (__/  )___) (___| (____/\/\____) |
(______/ |/     \|(______/ (______/ \_______/(_______/\_______)
</pre>
</h4>
<img src= "http://ericboshartworldwidewebgenius.com.s3.amazonaws.com/pics/profilepic.png"> 
</div>