<div class="splashpage">
	<div class="bg">
		<div class="holyness">
		<div id="skull1">
				<img class="skull", src="http://ericboshartworldwidewebgenius.com.s3.amazonaws.com/pics/skull1.gif", id="skull5"> </img>
			</div>
			<div id="skull2">
				<img class="skull", src="http://ericboshartworldwidewebgenius.com.s3.amazonaws.com/pics/skull2.gif"> </img>
			</div>
		 	<div class = "mtg">   
		<h4> <pre>
           _______ _________ _______                  
          (       )\__   __/(  ____ \                 
          | () () |   ) (   | (    \/                 
          | || || |   | |   | |                       
          | |(_)| |   | |   | | ____                  
          | |   | |   | |   | | \_  )                 
          | )   ( |   | |   | (___) |                 
          |/     \|   )_(   (_______)                 
                                                      
  _________ _______  _______  ______   _______        
  \__   __/(  ____ )(  ___  )(  __  \ (  ____ \       
     ) (   | (    )|| (   ) || (  \  )| (    \/       
     | |   | (____)|| (___) || |   ) || (__           
     | |   |     __)|  ___  || |   | ||  __)          
     | |   | (\ (   | (   ) || |   ) || (             
     | |   | ) \ \__| )   ( || (__/  )| (____/\       
     )_(   |/   \__/|/     \|(______/ (_______/       
                                                      
 ______  _________ _        ______   _______  _______ 
(  ___ \ \__   __/( (    /|(  __  \ (  ____ \(  ____ )
| (   ) )   ) (   |  \  ( || (  \  )| (    \/| (    )|
| (__/ /    | |   |   \ | || |   ) || (__    | (____)|
|  __ (     | |   | (\ \) || |   | ||  __)   |     __)
| (  \ \    | |   | | \   || |   ) || (      | (\ (   
| )___) )___) (___| )  \  || (__/  )| (____/\| ) \ \__
|/ \___/ \_______/|/    )_)(______/ (_______/|/   \__/
                                                      			
		</pre>    
		    </h4>
		    </div>
			
			<div id="skull3">
				<img class="skull", src="http://ericboshartworldwidewebgenius.com.s3.amazonaws.com/pics/skull3.gif"> </img>
			</div>
			<div id="skull4">
				<img class="skull", src="http://ericboshartworldwidewebgenius.com.s3.amazonaws.com/pics/skull4.gif"> </img>
			</div>
			<div id="skull5">
				<img class="skull", src="http://ericboshartworldwidewebgenius.com.s3.amazonaws.com/pics/skull5.gif"> </img>
			</div>   
	    
	</div>
</div>