<div class="">
  <div class="">
    <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png" alt="Logo image">
  </div>
  <div class="">
    <h1><%= @comment.user.full_name %></h1>
    <p><%= @comment.body %></p>
    <p class="">to do</p>
  </div>
</div>
