<ul>
	<% @users.each do |user| %>
		<li>
			<%= user.first_name %>, <%= user.last_name %>
			<%= link_to "Binder", user_path(user.id) %>
			<%= link_to "Propose Trade", new_trade_path %>
		</li>
	<% end %>
</ul>