#new-trade-user-show {
  @include span-columns(4 of 12);
  @include shift(5);
  background-color: #449d44;
  height: 3em;
  border-radius:4px;
  border:1px solid #dcdcdc;
  display:inline-block;
  color:#fafafa;
  font-size:1em;
  font-weight:bold;
  // padding:4px 12px;
  text-decoration:none;
  text-shadow:0px 0px 0px #70706f;

  a {
    text-decoration: none;
    color: white;
    font-size: 1.4em;
  }
  }#new-trade-user-show:hover {
      background-color: #5cb85c;
  }#new-trade-user-show:active {
      position:relative;
      top:1px;
  }

#users-find-submit-button {
  background-color:#477dca;
  width: 100%;
  height: 2em;
  border-radius:4px;
  border:1px solid #dcdcdc;
  display:inline-block;
  color:#fafafa;
  font-size:1em;
  font-weight:bold;
  // padding:4px 12px;
  text-decoration:none;
  text-shadow:0px 0px 0px #70706f;
  }#users-find-submit-button:hover {
      background-color:#2666c1;
  }#users-find-submit-button:active {
      position:relative;
      top:1px;
  }

#card-search-submit-button {
  background-color:#477dca;
  width: 100%;
  height: 3em;
  border-radius:4px;
  border:1px solid #dcdcdc;
  display:inline-block;
  color:#fafafa;
  font-size:1em;
  font-weight:bold;
  // padding:4px 12px;
  text-decoration:none;
  text-shadow:0px 0px 0px #70706f;
  }#card-search-submit-button:hover {
      background-color:#2666c1;
  }#card-search-submit-button:active {
      position:relative;
      top:1px;
  }

.cmc-container {
  #first {
    float: left;
    padding-left: 3em;
    padding-right: 0.4em;
    margin-top: 0.5em;
  }
  #second {
    float: right;
  }
}

.input {
  display: inline;
}

#distance {
  padding: 0px 10px;
}

fieldset {
  background: lighten($base-border-color, 10);
  border: $base-border;
  margin: 0 0 ($base-spacing / 2) 0;
  padding: $base-spacing;
}

input,
label,
select {
  // display: block;
  font-family: $form-font-family;
  font-size: $form-font-size;
}

label {
  font-weight: bold;
  margin-bottom: $base-spacing / 4;

  &.required:after {
    content: "*";
  }

  abbr {
    display: none;
  }
}

textarea,
#{$all-text-inputs},
select[multiple=multiple] {
  @include box-sizing(border-box);
  @include transition(border-color);
  background-color: white;
  border-radius: $form-border-radius;
  border: 1px solid $form-border-color;
  box-shadow: $form-box-shadow;
  font-family: $form-font-family;
  font-size: $form-font-size;
  margin-bottom: $base-spacing / 2;
  padding: ($base-spacing / 3) ($base-spacing / 3);
  width: 100%;

  &:hover {
    border-color: $form-border-color-hover;
  }

  &:focus {
    border-color: $form-border-color-focus;
    box-shadow: $form-box-shadow-focus;
    outline: none;
  }
}

textarea {
  resize: vertical;
}

input[type="search"] {
  @include appearance(none);
}

input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: $base-spacing / 4;
}

input[type="file"] {
  padding-bottom: $base-spacing / 2;
  width: 100%;
}

select {
  margin-bottom: $base-spacing;
  max-width: 100%;
  width: auto;
}
