.modal {
  ///////////////////////////////////////////////////////////////////////////////////
  $base-border-color: gainsboro !default;

  $base-border-radius: 4px !default;
  $base-background-color: white !default;
  $base-font-size: 1em !default;
  $base-line-height: 1.5em !default;
  $base-accent-color: #477DCA !default;
  $dark-gray: #333 !default;
  $light-gray: #DDD !default;
  $medium-screen: em(640) !default;
  $large-screen: em(860) !default;
  $base-font-color: $dark-gray !default;
  //for buttons
  $bg_shadow: rgba(0,0,0,0.4);


  p {
    color: $base-font-color;
    line-height: $base-line-height;
  }
  //////////////////////////////////////////////////////////////////////////////////

  $modal-padding: 3em;
  $modal-background: $base-background-color;
  $modal-close-color: $light-gray;
  $modal-image-height: 135px;
  $modal-image-width: $modal-image-height;
  $modal-trigger-image-width: 300px;

  label {
    cursor: pointer;
    margin-bottom: 0;
  }

  label img {
    border-radius: $modal-trigger-image-width / 2;
    display: block;
    max-width: $modal-trigger-image-width;
  }

  input[type="checkbox"] {
    display: none;
  }

  .modal-trigger {
    // @include button(flat, $base-accent-color);
    padding: 0.8em 1em;
  }

  .modal-open {
    overflow: hidden;
  }

  .modal-window { // overlay
    @include transition(opacity 0.25s ease);
    @include position(fixed, 0px 0px 0px 0px);
    background: rgba(0,0,0, 0.85);
    opacity: 0;
    padding-top: 0.6em;
    text-align: left;
    visibility: hidden;
    z-index: 99999999999;

    @include media($large-screen) {

      padding-top: 5em;

    }

    .modal-bg {
      @include position(absolute, 0px 0px 0px 0px);
      cursor: pointer;
    }
  }

  .modal-close {
    @include position(absolute, ($modal-padding /2) ($modal-padding /2) null null);
    @include size(1.5em);
    background: $modal-background;
    cursor: pointer;

    &:after,
    &:before {
      @include position(absolute, 3px 3px 0 50%);
      @include transform(rotate(45deg));
      @include size(0.15em 1.5em);
      background: $modal-close-color;
      content: '';
      display: block;
      margin: -3px 0 0 -1px;
    }

    &:hover:after,
    &:hover:before {
      background: darken($modal-close-color, 10%);
    }

    &:before {
      @include transform(rotate(-45deg));
    }
  }

  .modal-inner {
    
    @include transition(opacity 0.25s ease);
    background: white;
    border-radius: $base-border-radius;
    margin-top: 0;
    margin: auto;

    max-height: 95%;

    overflow: auto;
    padding: $modal-padding / 2;
    position: relative;
    width: 95%;

    @include media($medium-screen) {
      max-height: 70%;
      padding: $modal-padding;
      width: 60%;
    }

    @include media($large-screen) {
      width: 60%;
      max-height: 100%;
    }

 
     .modal-header{
        border-style: solid;
        border-bottom: 1.5px solid #001000;
        border-radius:5px;
        width:100%;

          .modal-card-name{
            width:60%;
            display: inline-block;
              h1{
              padding-bottom:0.5em;    
              font-family: 'Cinzel', serif;
              text-align: left;
              margin:0;
              
              margin-left:1em;
              }
            }
            .modal-card-mana{
              width:20%;
              display: inline;           
              float:right; 
              img{
              
                margin-right:0.5em;
                float:right;
                    
                
              }
             
            }
          }
   .modal-display {
    margin:0;
    padding:0;
    @include outer-container;

        
        .modal-card-image{
        @include span-columns(4); 
        padding-top:1em; 
        margin-left:1em;           
        
          // padding-top:1.5em;
          // padding-bottom:1em;
          // padding-left:1em;
          // padding-right:1em;
          img{
            // border: 15px solid rgba(0,0,0, 0.05);
            border-radius: $base-border-radius;
            width:14em;
            height: auto;
            margin-left: auto;
            margin-right: auto;
          }         
        }

    .modal-card-info{
      @include span-columns(7);
      padding-top:1em;
      // background-color: rgba(0,0,0, 0.05);
      border-radius: 15px;
      
      h4{
        padding-left:1em;
        font-family: 'Cinzel', serif;
        font-weight:bold;
        padding-bottom:0.5em;
      }
      p{
        padding-left:2em;
        font-family: 'Cinzel', serif;
        padding-bottom:1em;

      }

    }

    .modal-card-options{
      @include span-columns(12);
      margin-top:0.2em;
      
      .modal-find-nearby-button{
        @include shift(0.4);
        @include span-columns(3);
        .button-sexiness{ 
          a.button{
            
            background-color: #2666c1;
            @include box-shadow(
              0 4px 0 darken(#2666c1, 7%),
              0 5px 5px 1px $bg_shadow);
            color:white;
          }
        }
   
      }
      .modal-add-to-list-button{
        @include shift(1.8);
        @include span-columns(6);

        .modal-inventory-button{
        @include span-columns(4);
        .button-sexiness{ 
          a.button{
            width: 8.2em;
            background-color: $inventorycolor;
            @include box-shadow(
              0 4px 0 darken($inventorycolor, 7%),
              0 5px 5px 1px $bg_shadow);
          }
        }
        
        }
        .modal-tradeable-button{
        @include span-columns(5);
        .button-sexiness{ 
          a.button{
            // width: 8em;
            background-color: $tradeablecolor;
            @include box-shadow(
              0 4px 0 darken($tradeablecolor, 7%),
              0 5px 5px 1px $bg_shadow);
          }
        }
        }
        .modal-wishlist-button{
        @include span-columns(3);
        .button-sexiness{ 
          a.button{
            // width: 7em;
            background-color: $wantedcolor;
            @include box-shadow(
              0 4px 0 darken($wantedcolor, 7%),
              0 5px 5px 1px $bg_shadow);
          }
        }
        }


      }
    }




    }

    


   

    .modal-intro {
      font-weight: 800;
    }

    .modal-content {
      color: $base-font-color;

      @include media($medium-screen) {
        @include columns(2 8em);
      }
    }

    a.cta {
      color: white;
      display: inline-block;
      margin-right: 0.5em;
      margin-top: 1em;

      &:last-child {
        padding: 0 2em;
      }
    }
  }

  .modal-state:checked + .modal-window {
    opacity: 1;
    visibility: visible;
  }

  .modal-state:checked + .modal-window .modal-inner {
    top: 0.5em;
  }
}

// Based on code by Kasper Mikiewicz