// html: application.html.erb

$text-height: 2em; 
$pokedex-height: ($text-height * 9);
$boxcolor: black;
$search-height: $pokedex-height;
// one to overright!
.pokedex{
	height: $pokedex-height;
	padding-top: 1%;

	
	

	.search{
		@include span-columns(6);
		// @include becoolfont(1.4em);
		@include titleborder(0, 1, 1, 0);
		height: $search-height;
		label{
			font-size: 1.5em;
		}

		
			.box{
				height: $text-height;
				img{
					height: $text-height;
					width: auto;
				}
				.name{
					text-align: right;
					@include span-columns(2 of 6);

				}
				.input{
					@include span-columns(4 of 6);

				}
				#boxes{
				@include shift(2);
				height: ($text-height * 2);
				img{
				
				
					height: ($text-height * .75);
					width: auto; 
				}

				}
				#searchbutton{
					@include shift(2);

				}	
			}
			
	}
	.cardbox{
		height: $pokedex-height;
		@include span-columns(6);
		@include titleborder(0, 1, 1, 0);
		visibility: hidden;



	}

}