.splashpage{
	.bg{
		    background-size: 100%;
		    width: 100%;
		    height: 40em;
		     background-image: url("http://ericboshartworldwidewebgenius.com.s3.amazonaws.com/pics/Purple-Lighting--76925.jpg");

			.holyness{
				.mtg{
			    text-align: center;
			    color: white;
			}
			

			.skull{
			    width: 100px;
			    height: auto;
			    position: relative;

			#skull1{			    			    
			    width: 100px;
			    float:left;
			}
			    
			}
			#skull2{				  			    
			    width: 100px;
			    float: right;
			    
			   
			}
			#skull3{
			    width: 100px;
			    float: left;
			      			      			    
			}
			#skull4{			         			    
			    width: 100px;
			    float: right;
			    
			}
			#skull5{			       			    
			    width: 100px;
			    margin-right: auto;
			    margin-left: auto;
			 }   
			}
	    
	}	
}