$bordercolor : white;

$inventorycolor: #F7977A;
$tradeablecolor: #FFF79A;
$wantedcolor: #7BCDC8;

$break-large: 930px;

h1, h2, a, td, label, h3{
	margin: 0;
	text-decoration: none;
}

h1{
	font-size: 2em;
}

a{
	font-size: 2em;
} 
@mixin becoolfont( $fontsize ){


	h4{
		font-size: $fontsize;
		color: black;
		margin: 0;
	}
	h2{
		font-size: $fontsize;
		color: black;
		margin: 0;
	}
	a{
		font-size: $fontsize; 
		color:black;
		margin: 0;
	}
	td{
		font-size: $fontsize; 
		color:black;
		margin: 0;
	}

	label{
		font-size: $fontsize; 
		color:black;

	}
		h3{
		font-size: $fontsize; 
		color:purple;
		margin: 0;

	}
	p{

	}
} 

@mixin titleborder($t, $r, $b, $l){
	margin-top:  (-$t);
	
	margin-right: (-$r);
	margin-bottom:  (-$b);
	margin-left: (-$l) ;


	border-top: ($t)+ px solid $bordercolor;
	border-right: ($r) + px solid $bordercolor;
	border-bottom: ($b) + px solid $bordercolor;
	border-left: ($l) + px solid $bordercolor;

}

@mixin previewborder{
	border: 1px blue dashed;
	margin: -1px -1px -1px -1px;
}