
<h2>Search for Cards</h2>

<%= render '/cards/search' %>

<!-- if statement needs to be fixed, this is a lazy hack to get it to work
     if only a single card is returned -->
<% if @cards.respond_to? :count %>

		<%= render '/cards/card_display' %>
		
<% end %>








