/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* *** PAGE *** */
		h1, h2, h3, h4, h5, h6, p {
	margin: 0;
	padding: 0;
}


p {
	margin: 0 0 1em 0;
	font-size: 93%;
	line-height: 1.5em;
}

body {
	font-family: Helvetica, Arial, sans-serif;
	padding: 0;
	margin: 0;
	background-image: url("http://i41.tinypic.com/2el9mqf.jpg");

}

img {
	max-width: 100%;
	height: auto;
	margin: 0 0 10px 0;
}


div.main {
	width: 65%;
	float: left;
	margin-right: 5%;
}
div.side {
	width: 30%;
	float: left;
}






/* Section Inner */
div.section-inner {
	max-width: 1100px;
	padding: 0 25px;
	margin: 0 auto;
}



/* Header */
div.header {
	background-image: url(http://mystery756.files.wordpress.com/2013/05/lightning.jpg);
	padding: 40px 0;
	height: 100px;
}

div.title {
	float:left;
	margin-left: auto;
    margin-right: auto; 

}
/* Navigation */
div.nav {

	height:40% ;
}

div.nav ul {
	margin: 0;
	padding: 0;
}	

div.nav-button {
	height: 60px;
	text-align: center;
	width: 25%;
	float: left;
	margin: 0;
	padding: 0;
	background-color: red;
}

div.nav-button img {
	padding-top: 5px;
	width: 50px;
	height: auto;
}
div.nav-button-search{
	background-color:  yellow;
} 
div.nav-button-tradebinder {
	background-color:  maroon;
	
}
div.nav-button-wishlist{
	background-color: grey;

}
div.nav-button-planeswalker{
	background-color: aqua;
}



}
/* Body Content */
div.body-content {
	padding: 50px 0;
}

div.search-form {
	background-color: teal;
	padding: 5px, 5px, 5px, 5px;
}
div.search-form h1{
	text-align: center;
}

div.form_box{
	color: red;
}

/**** for cards display (indexs) ***

/* Thirdds */

div.thirds {
	
	padding-bottom: 50px;
}

div.one-third {
	width: 30%;
	height: 735px;
	float: left;
	margin-right: 5%;
	padding-bottom: 50px;
	color: white;

}

div.one-third-last {
	margin: 0;
}

img.card {
    display: block;
    margin-left: auto;
    margin-right: auto; 
	width: 256px ;
	height: 370px ;
}
/* *** User Section *** */
div.body-content-user {
	margin-right: auto;
	margin-left: auto;
}

div.id-section{
	width: 75%;
	padding: 5px 5px 5px 5px ;
	margin-left: auto;
	margin-right: auto;
}

div.idcard{
	margin-top: 100px;
	clear:both;
	width: 500px;
	height: 700px;
	margin-left: auto;
	margin-right: auto;
}

div.idcard-magic-card{
	position:absolute;
	z-index: 3;
}
div.idcard-user-picture {
	z-index: 2;
	margin-left: auto;
	margin-right: auto;
	width: 500px;
	height: 600px;
	overflow: hidden;
	position:absolute;
}
div.idcard-user-picture img {
	width:100%;
	height: auto;
}
div.idcard-user-name{
	position: absolute;
	z-index: 4;
	width: 400px;
	margin-top: 42px;
	margin-left: 50px;
	font-family: 'Book Antiqua', Palatino, 'Palatino Linotype', 'Palatino LT STD', Georgia, serif;
	font-size: 26px;
	text-align: center;
}
div.idcard-user-info{
	position: absolute;
	z-index: 4;
	width: 400px;
	margin-top: 500px;
	margin-left: 50px;
	font-family: 'Book Antiqua', Palatino, 'Palatino Linotype', 'Palatino LT STD', Georgia, serif;
	font-size: 26px;
	text-align: left;
}


/* *** END OF DISPLAY *** */

/* Footer */
div.footer {
	background-color: #3f3f3f;
	color: #FFF;
	padding: 15px 0;
	text-align: center;
}


.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

/* *** Responsive Options: **** */

@media screen and (max-width: 900px) {
	div.one-third {
	width: 47.5% ;  /* sets width of colum to 47.5% from 30%. So page only fits 2 "thirds" instead of three */
	}

	div.one-third-second{
	margin: 0;
	}

	div.one-third-last {
	}

	div.nav-button {
	height: 60px;
	}
	div.nav-second  {
	background-color: purple;
	}
	img.skulls {
	width: 60px;
	height: 60px;
	}
}

@media screen and (max-width: 640px) {
	
	div.mobile-collapse {
	width: auto;
	float: none;
	margin-right: 0;
	}
	div.nav-button {
	width: 25%;
	font-size: 16px;
	}
	img.skulls {
	display: none;
	
	}

}