/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 */
$visual-grid: false;
$visual-grid-color: red;
$visual-grid-index: front;
$visual-grid-opacity: 0.1;


@import "reset";
@import "normalize";
@import "bourbon";
@import "neat";
@import "base";
html{
  font-size: 16px;   // 1rem = 16px
}
@import "themepack";
@import "modules/modules";
@import "mediasettings";

.clear{
	@include clearfix;
}
 
 body{
 	@include outer-container;
 }

 footer{
  	@include outer-container;
  
 }




// Heights are set using EMs;
// height = number of lines * font-height


// Document Structure
//               STATIC ELEMENTS
// The Head 
// HTML = application.html.erb
// Scss = modules/thehead.scss
//   Compromised of two secions:
//   1. Main Title - 3 Columns
//     -text 
//       Where our logo goes 
//   2. Interface - 10 Columns (Shift 1, Span 9)
//     Interface has 2 sections that sit ontop of one another:
//     -signin - 9 columns
//     -menu - 9 columns

// Pokedex
// Html: application.html.erb
// Scss: pokedex.scss
//   Comprised of 2 sections
//   1. Search - 6 columns
//     box 
//       name 2 columns
//       input 4 columns
//   2.Cardbox - 6 columns
//     not currently active

//             RENDERD ELEMENTS aka Main Body

// table_styling - 12 columns
// html: views/cards/_card_display.html.erb    
// Scss: modules/table_styling.hmtl.erb   

// accordian tabs -12 columns
// html: users/show.html.erb
// scss: accordiantabs


//             Other Style Sheets
// themepack -customize shit
// mediasettings -collapseable settings
	