/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require nav-bar
 *= require searchbox
 *= require usercard
 *= require variables
 *= require headerfooter
 *= require cardsdisplay
 *= require binder_table  
 *= require headerfooter
 *= require cardsdisplay 
 *= require friends

 */

 /* *** PAGE *** */



		h1, h2, h3, h4, h5,  p {
	margin: 0;
	padding: 0;
}
	

	label {
		font-size: 2em;
	}
	


p {
	margin: 0 0 1em 0;
	font-size: 93%;
	line-height: 1.5em;
}

div.center{
	margin-right: auto;
	margin-left:  auto;
}

body {
	font-family: Helvetica, Arial, sans-serif;
	padding: 0;
	margin: 0;
	background-color: white;
	height: 100%
}

img {
	max-width: 100%;
	height: auto;
	margin: 0 0 10px 0;
}




/* Section Inner */
div.section-inner {
	width: 70%;
	padding: 0 5% 0 5% ; /*25px*/ 
	margin: 0 auto;
	clear: both;
	max-height: 100%;


}

}
/* Body Content */
div.body-content {
	padding: 50px 0;
}

div.body-content-user {
	margin-right: auto;
	margin-left: auto;
}




.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

/* *** Responsive Options: **** */

@media screen and (max-width: 900px) {
	div.one-third {
	width: 47.5% ;  /* sets width of colum to 47.5% from 30%. So page only fits 2 "thirds" instead of three */

	}

	div.one-third-first{
	float: left;
	
	}
	div.one-third-second {
		margin:0;

	}

	div.one-third-last{

	}

	

	div.nav-button {
	height: 60px;
	}
	div.nav-second  {
	background-color: purple;
	}
	img.skulls {
	width: 60px;
	height: 60px;
	}
}

@media screen and (max-width: 640px) {
	div.mobile-expand {
	width: 100%; 

	}
	div.mobile-collapse {
	width: auto;
	float: none;
	
	}
	div.nav-mobile-collapse{
		width: 100%;
	}
	.evilwrapper{
		width: 100%;

	}

	div.mobile-collapse-body {
	width: auto;
	float: none;
	padding-right: 5%;
	padding-left: 5%;
	
	}
	div.one-third {
	padding-right: 5%;
	padding-left: 5%;
	width: auto;
	}
	
	div.nav-button {
	width: 25%;
	font-size: 16px;
	}
	img.skulls {
	display: none;
	}
	div.section-inner {
	max-width: 100%;
	padding: 0;
	margin: 0 ;
}

}