
@import "variables.scss";

.thirds {

padding-bottom: 50px;
}

.one-third { 
width: 30%;
height: 800px;
float: left;
padding-bottom: 50px;
color: white;
}

.one-third-last {
margin: 0;
}

img.card {

display: block;
margin-left: auto;
margin-right: auto; 
width: 210px ;
height: 300px ;
}

div.sidejerk{
	background-color: red;
	position: absolute;
	z-index: 10;
	width: 100px; 
	height:100px;
}

