
@import "variables.scss";



.one-third { 
width: 30%;
height: 600px;
float: left;
padding: 50px .5% 50px .5%;
color: white;
margin: 50px 1% 0 1%;
border-radius: 15px 15px 15px 15px;
// background-color: darken($search-color, 5%);
background: darken($search-color, 2%);
text-overflow: ellipsis;


}

.one-third-last {
margin: 0;
}

img.card {

display: block;
margin-left: auto;
margin-right: auto; 
width: 210px ;
height: 300px ;
}



