@import "variables.scss";


.header {
	width: 80%;
	margin-right: auto;
	margin-left: auto;
	background-color: $headfoot-color;
	padding: 40px 0;
	height: 100px;
}

.title {
	float:left;
	margin-left: auto;
    margin-right: auto; 

}

.footer {

	background-color: $headfoot-color;
	color: #FFF;
	text-align: center;
	bottom: 0%;
	width: 80%;
	position:fixed;

}

