 

@import "variables.scss";


// switch inner to entire section? navbar is not being wide enough
.nav {
		background-color: red;
		height: auto;
		width: 80%;
		margin-right: auto;
		margin-left: auto;

	.nav ul {
		margin: 0;
		padding: 0;
	}	

	.nav-button {
		height: 60px;
		text-align: center;
		width: 25%;
		float: left;
		margin: 0;
		padding: 0;
	}

	.nav-button img {
		padding-top: 5px;
		width: 50px;
		height: auto;
	}
	.nav-button-search{
		background-color: $search-color;	

	} 
	.nav-button-trades {
		background-color:  $trade-color;		
	}
	.nav-button-user{
		background-color: $user-color;

	}
	.nav-button-friends{
		background-color: $friends-color;
	}
}