@import "variables.scss";




div.search-section {
	width: 100%;
	border-radius: 15px 15px 15px 15px;
	background-color: darken($search-color, 1%);
	height: auto;
	padding-top: 5%;
	margin-left: auto;
    margin-right: auto; 
    margin-bottom: 50px;
 	
 	h1{
	text-align: center;
	}
	box-shadow: 5px 5px 5px darken($search-color, 10%);

}	

div.form-box{

	margin-right: auto;
	margin-left: auto;
	padding: 1%;	
}
div.form-box-test{

}