// $search-color:  #96CEB4; 	
// $trade-color:  #FFEEAD; 
// $user-color: 	#FF6F69; 
// $friends-color: #FF9452; 
// $headfoot-color: #E69CB1; 
// $config-color: #E69CB1; 

$search-color:  #168CB0; 	
$trade-color:  #16D339; 
$user-color: 	#17BFAE; 
$friends-color: #F27E93; 
$headfoot-color: #EC5A4B; 
$config-color: #EC5A4B; 

.config-theme{
	background-color: $headfoot-color;
	padding: 5%, 5%, 5%, 5%; 
}
 
.friends-theme {
 	background-color: $friends-color;
 	img {
 		padding-top: 50px;
 		margin-right: auto;
 		margin-left: auto;
 		width:3000px;
 	}
 }

div.user-theme{
	background-color: $user-color;
}


div.trade-theme{
	background-color: $trade-color;
}

.search-theme{
	background-color: $search-color;
	padding: 0,0,0,0;
	
}


// buttons
.wantwish{	


	background-color: $trade-color;
	border-radius: 15px 15px 15px 15px;
	width: 25%;
	height: 10%;
	margin-right: 5%;
	float:left; 

	box-shadow: 5px 5px 5px darken($trade-color, 10%);

	

	img {
		width: 90%;
		height: 90%;
		vertical-align: middle;
		margin-left: 5%;

	}
}




