<table>
	<thead>
		<tr>
			<th>qty</th>
			<th>Available</th>
			<th>Name</th>
			<th>Set</th>
			<th>$</th>
		</tr>
	</thead>
	<tbody>
		<% i = 0 %>
		<% @trade.receiver.tradeable_cards.each do |listed_card| %>
		<tr>
			<td>
				<%= select_tag "trade[cards_from_receiver][#{listed_card.id.to_i}]", options_for_select((Array.new(listed_card.amount + 1) { |i| i }), @trade.qty_from_receiver[i]), disabled: bool  %>	
			</td>
			<td>
				<%= listed_card.amount %>
			</td>
			<td>
				<%= listed_card.card.name %>		
			</td>
			<td>
				<%= listed_card.card.card_set.name %>
			</td>
			<td>
				$ 10
			</td>
		<% i +=1 %>
		</tr>
		<% end %>
	</tbody>

</table>