<div class="section-inner search-theme mobile-collapse">
	<h1>Active Trades</h1>

	<% if @trades.count > 0 %>
		<% @trades.each do |trade| %>
			Trade with <%= trade.initiator == current_user ? trade.receiver.first_name : trade.initiator.first_name  %>
			<%= link_to "View Trade #{trade.id}", trade_path(trade.id) %>
			<%= link_to "Modify Trade #{trade.id}", edit_trade_path(trade.id) %>
			<%= link_to "Cancel Trade", trade_path(trade.id), method: :destroy %>
			<br>
		<% end %>
	<% end %>
</div>