<div class="section-inner search-theme mobile-collapse">
	<h1>Trades Overview</h1>
	
		<ul class="accordion-tabs">
			<li class="tab-header-and-content">
				<%= link_to "Active Trades", fetch_trades_path(:status => "pending", :user_id => @user.id), :class => "is-active tab-link", :remote => true %>
			</li>
			<li class="tab-header-and-content">
				<%= link_to "Completed Trades", fetch_trades_path(:status => "complete", :user_id => @user.id), :class => "is-active tab-link", :remote => true %>
			</li>
			<li class="tab-header-and-content">
				<%= link_to "Cancelled Trades", fetch_trades_path(:status => "cancelled", :user_id => @user.id), :class => "is-active tab-link", :remote => true %>
			</li>

			<div id="trades-partial"></div>

		</ul>
</div>